@model StoreFrontV3.DATA.EF.Guitar

@{
    ViewBag.Title = $"{Model.GuitarModel}";
}

<div>
    <br />
    <dl class="dl-horizontal pushItDown">
        <h2>@ViewBag.Title</h2>

        <dt>
            @Html.DisplayNameFor(model => model.Brand.BrandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.BrandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuitarModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuitarModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guitar_Category.GuitarCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guitar_Category.GuitarCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuitarDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuitarDescription)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.GuitarImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuitarImage)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsOnOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsOnOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsSold)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsSold)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.DeptName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.DeptName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GuitarInventory.GuitarInventoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuitarInventory.GuitarInventoryName)
        </dd>*@
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.GuitarID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        <p>
            @using (Html.BeginForm("AddToCart", "Guitars", new { @guitarId = Model.GuitarID }, FormMethod.Post, new { @class = "text-center" }))
            {
                @Html.HiddenFor(x => x.GuitarID)
                <span class="label">Quantity: </span>
                @Html.TextBox("Qty", 1, new { @class = "form-control", @style = "max-width: 50px; display: inline;" })
                <input type="submit" value="Add to Cart" class="btn btn-primary" name="qty" />
            }
        <p>
            <img src="~/Content/images/Guitars/@Model.GuitarImage" alt="Book cover" title="@Model.GuitarModel" />
        </p>
    </dl>
</div>

