@model IEnumerable<StoreFrontV3.DATA.EF.Guitar>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table pushItDown">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GuitarImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand.BrandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuitarModel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuitarDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
        {
            <th></th>
        }
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.GuitarImage)*@
            <img src="~/Content/images/Guitars/@item.GuitarImage" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Brand.BrandName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuitarModel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuitarDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td></td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.GuitarID }) 
            @if (Request.IsAuthenticated && User.IsInRole("Admin"))
            {
                @:|
                @Html.ActionLink("Edit", "Edit", new { id = item.GuitarID }) @:|
                @Html.ActionLink("Delete", "Delete", new { id = item.GuitarID })
            }
        </td>
    </tr>
    }

</table>
