<!DOCTYPE html>
<html>
<head>
    <title>B# Guitar Shop - @ViewBag.Title</title>
    <meta name="keywords" content="Guitars, B#, StoreFront, MVC Project, Centriq, Portfolio," />
    <meta name="description" content="MVC StoreFront Portfolio Project" />
    <meta name="author" content="Jacob Woodworth">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--

    Polystar Template

    http://www.templatemo.com/tm-408-polystar

    -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/templatemo_misc.css" rel="stylesheet">
    <link href="~/Content/templatemo_style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Dancing+Script:wght@600&family=Lobster&family=Londrina+Shadow&display=swap" rel="stylesheet">

    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery.lightbox.js"></script>
    <script src="~/Scripts/templatemo_custom.js"></script>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <div class="menu">
            <div class="hexagon_container" id="logo">
                <div class="hexagon hexagon2">
                    <div class="hexagon-in1">
                        <a href="@Url.Action("Index","Home")">
                            <div class="hexagon-in2 active">
                                <h2>Tune Shop</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hexagon_container" id="team">
                <div class="hexagon hexagon2">
                    <div class="hexagon-in1">
                        <a href="@Url.Action("Team","Home")">
                            <div class="hexagon-in2">
                                <i class="fa fa-user"></i>
                                <h2>TEAM</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hexagon_container" id="services">
                <div class="hexagon hexagon2">
                    <div class="hexagon-in1">
                        <a href="@Url.Action("Shop","Home")">
                            <div class="hexagon-in2">
                                <i class="fa fa-music"></i>
                                <h2>Shop</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hexagon_container" id="contact">
                <div class="hexagon hexagon2">
                    <div class="hexagon-in1">
                        <a href="@Url.Action("Contact","Home")">
                            <div class="hexagon-in2">
                                <i class="fa fa-envelope"></i>
                                <h2>CONTACT</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        @RenderBody()

    </div>
    <div class="templatemo_footer">
        Copyright © 2021 Jacob Woodworth/B# Guitar Shop<br>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $('#page_link_1').click({ page_no: 1 }, pagination_click);
        $('#page_link_2').click({ page_no: 2 }, pagination_click);
        $('#page_link_3').click({ page_no: 3 }, pagination_click);
    </script>
</body>
</html>