<!DOCTYPE html>
<html>
<head>
    <title>B# Guitar Shop - @ViewBag.Title</title>
    <meta name="keywords" content="Guitars, B#, StoreFront, MVC Project, Centriq, Portfolio," />
    <meta name="description" content="MVC StoreFront Portfolio Project" />
    <meta name="author" content="Jacob Woodworth">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&family=Dancing+Script:wght@600&family=Lobster&family=Londrina+Shadow&display=swap" rel="stylesheet">

    @Styles.Render("~/Content/css")

    @{
        int countItems = 0;
        if ((Dictionary<int, StoreFrontV3.UI.MVC.Models.CartItemViewModel>)Session["cart"] != null && ((Dictionary<int, StoreFrontV3.UI.MVC.Models.CartItemViewModel>)Session["cart"]).Count > 0)
        {
            foreach (var item in (Dictionary<int, StoreFrontV3.UI.MVC.Models.CartItemViewModel>)Session["cart"])
            {
                countItems += item.Value.Qty;
            }

            ViewBag.CountItems = countItems;
        }

    }

</head>
<body>
    <div id="admin-btn" class="button" onclick="openAdminNav()">
        <span class="vertical-text">Menu</span>
    </div>
    &#9776;
    <nav id="admin-nav" class="side-nav">
        <a href="javascript:void(0)" class="close-btn" onclick="closeAdminNav()">&times;</a>
        <ul>
            @*<li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Team", "Team", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Shop", "Index", "Guitars")</li>*@
            <li style="background-color: #0A2433;">@Html.Partial("_LoginPartial")</li>
            <li style="background-color: #0A2433;">@Html.ActionLink("Admin Login", "Login", "Account")</li>
            <li>@Html.ActionLink("Guitar Search", "Clientside", "Filters")</li>
            <li>@Html.ActionLink("Brands", "Index", "Brands")</li>
            <li class="nav-item">
                @if (Session["cart"] != null && ViewBag.CountItems > 0)
                {
                    <a class="dropdown-item" href="/ShoppingCart/Index">
                        Cart<i class="fa fa-shopping-cart"></i>
                        <span class="text-danger">@ViewBag.CountItems</span>
                    </a>
                }
                else
                {
                    @Html.ActionLink("Cart", "Index", "ShoppingCart")
                }
            </li>
        </ul>
    </nav>

    <div class="container">
        <div class="menu">
            <div class="hexagon_container" id="logo">
                <div class="hexagon hexagon2">
                    <div class="hexagon-in1">
                        <a href="@Url.Action("Index","Home")">
                            <div class="hexagon-in2 active">
                                <h2>Tune Shop</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hexagon_container" id="team">
                <div class="hexagon hexagon2">
                    <div class="hexagon-in1">
                        <a href="@Url.Action("Team","Home")">
                            <div class="hexagon-in2">
                                <i class="fa fa-user"></i>
                                <h2>Team</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hexagon_container" id="services">
                <div class="hexagon hexagon2">
                    <div class="hexagon-in1">
                        <a href="@Url.Action("Index","Guitars")">
                            <div class="hexagon-in2">
                                <i class="fa fa-music"></i>
                                <h2>Shop</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="hexagon_container" id="contact">
                <div class="hexagon hexagon2">
                    <div class="hexagon-in1">
                        <a href="@Url.Action("Contact","Home")">
                            <div class="hexagon-in2">
                                <i class="fa fa-envelope"></i>
                                <h2>Contact</h2>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/template")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $('#page_link_1').click({ page_no: 1 }, pagination_click);
        $('#page_link_2').click({ page_no: 2 }, pagination_click);
        $('#page_link_3').click({ page_no: 3 }, pagination_click);
    </script>

    <div class="templatemo_footer">
        Copyright © 2021 Jacob Woodworth/B# Guitar Shop<br>
    </div>

    <script>
        function openAdminNav() {
            document.getElementById('admin-btn').style.display = "none";
            document.getElementById('admin-nav').style.width = "150px";
        }

        function closeAdminNav() {
            document.getElementById('admin-btn').style.display = "block";
            document.getElementById('admin-nav').style.width = "0";
        }
    </script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.ajax.unobtrusive/3.2.4/jquery.unobtrusive-ajax.min.js"></script>

</body>
</html>